.chat-widget-boundary {
  position: relative;
  width: 10%;
  height: 10vh;
}

.draggable-container {
  position: absolute;
  width: 10%;
  height: 10vh;
  top: 90%;
  left: 95%;

  z-index: 999;
  cursor: move;

  &.chat-widget-open {
    cursor: default;
  }

  .draggable-container:active {
    cursor: grabbing;
  }

  .chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    &:hover {
      background-color: #005bb5;
    }
  }
}

.chat-widget {
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 400px;
  font-size: 20px;
  min-height: 540px;
  max-height: 600px;
  border-radius: 12px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #e0e0e0;


  .header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: linear-gradient(135deg, #0078ff, #00c6ff);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 2; 

    .profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .header-content {
      flex-grow: 1;

      h5 {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }

      .status {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    .close {
      font-size: 1.2rem;
      cursor: pointer;
    }
    .connection-buttons{
      display: flex;
      justify-content:end;
      button{
        background: none;
        border: none;
      }
    }
  }

  .messages {
    padding: 15px;
    min-height: 400px;



    .message-container {
      margin-bottom: 10px;

      &.my-message .message-content {
        background-color: #0078ff;
        color: #ffffff;
        overflow: scroll;
        border-radius: 15px 15px 0 15px;
        text-align: right;
        float: right;
      }

      &.other-message .message-content {
        background-color: #f1f1f1;
        color: #000000;
        border-radius: 15px 15px 15px 0;
        text-align: left;
        float: left;
      }

      .message-content {
        padding: 10px;
        max-width: 70%;
        clear: both;
        display: inline-block;
        font-size: 0.95rem;
        line-height: 1.4;
        word-wrap: break-word;

        .sender {
          font-weight: bold;
          display: block;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 400px;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;

    input {
      flex-grow: 1;
      border: none;
      width: 200px;
      border-radius: 20px;
      padding: 10px 15px;
      outline: none;
      background-color: #f0eeee;
      font-size: 0.9rem;
    }

    .send-btn {
      background-color: #0078ff;
      border: none;
      border-radius: 50%;
      color: #ffffff;
      padding: 10px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.fab-buttons {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 95%;
  z-index: 1;

  button {
    transition: transform 5s ease;

  }

  button:hover {
    transform: scale(1.1);
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0078ff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #005bb5;
}

::-webkit-scrollbar-button {
  display: none;
}
